<h1>The simplest arithmetic</h1>
<nav>
  <ul>
    <li><a routerLink="/first-page" routerLinkActive="active">First page</a></li>
    <li><a routerLink="/second-page" routerLinkActive="active">Second page</a></li>
    <li><a routerLink="/third-page" routerLinkActive="active">Third page</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
